input:invalid ~ span {
  display: block;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* CSS */
.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  opacity: 0.75;
}

.formApp {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.form-data {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%; /* Set table width to 100% */
}

th,
td {
  border: 1px solid #dddddd; /* Add borders to table cells */
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2; /* Optional: Add background color to header cells */
}
